---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Roman & Co">
  <Header />
  <main>
    <Hero />
  </main>
</BaseLayout>